:root {
  --background-color: #0D0E03F4;
  --text-color: white;
  --base-font: 16px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--base-font);
}

.content {
  max-width: fit-content;
  margin-inline: auto;
}

.title {
  font-size: 3rem;
}